:root{
    --bs-header: #2c3e50;
    --bs-lightblue: #3a546d;
    --bs-lighterblue: #1abc9c;
}


#app_header, #app_footer{
    background-color: var(--bs-header);
}

.jumbo,
.about,
.socials,
#app_footer{
    border: dashed transparent;
}

.jumbo,
.about,
.about button,
.contact_me button{
    background-color: var(--bs-lighterblue);
}

.about button,
.contact_me button{
    border-color: white;
}

.socials{
    background-color: var(--bs-lightblue);
}

.mw-60{
    max-width: 60%;
    margin: auto;
}

.contact_me .stick,
.portfolio .stick{
    background-color: var(--bs-header);
    width: 200px;
    height: 3px;
}

.jumbo .stick,
.about .stick{
    background-color: white;
    width: 200px;
    height: 3px;
}
.contact_me .fa-star,
.portfolio .fa-star{
    color: var(--bs-header);
}

