:root{
    --bs-header: #2c3e50;
    --bs-lightblue: #3a546d;
    --bs-lighterblue: #1abc9c;
}


#app_header, #app_footer{
    background-color: var(--bs-header);
}

.jumbo,
.portfolio,
.about,
.contact_me,
.socials,
#app_footer{
    height: 100%;
    border: 1px dashed black;
}
.jumbo,
.about,
.about button,
.contact_me button{
    background-color: var(--bs-lighterblue);
}

.about button,
.contact_me button{
    border-color: white;
}

.socials{
    background-color: var(--bs-lightblue);
}

.mw-60{
    max-width: 60%;
    margin: auto;
}


.col-12, .col-md-6{
    height: 100%;
}

.stick{
    background-color: var(--bs-header);
    width: 200px;
    height: 3px;
}